body {
	background: #f8f8f8;
}

.form-label {
	font-weight: bold !important;
}

.text-cmd {
    color: #08E600 !important;
}

button[disabled] {
    background: #e0e0e0 !important;
    color: #a0a0a0 !important;
    pointer-events: none !important;
    border-color: #e0e0e0 !important;
}